class {
  getValue() {
    return this.getEl(this.input.id).value;
  }
}

div.field
  label.field_label for-key=input.id -- $!{input.label}
  span.field_control.field_control--textbox
    input.textbox key=input.id type="text" placeholder=input.placeholder
